*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li {
    cursor: pointer;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.divVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img, video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    img{
        opacity: .4;
    }
}

.txtErro{
    position: absolute;
    z-index: 1;
    width: 95%;
    max-width: 1400px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conteudo{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;

    width: 90%;
    max-width: 100%;
    text-align: center;
    padding: 0;
}

.conteudo h1{
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
    white-space: nowrap;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.conteudo p{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.conteudo button{
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 40px;
    border: none;
    cursor: pointer;

    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: white;

    transition: all 0.3s ease;
}

.conteudo button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(142, 45, 226, 0.4);
}
